<!-- Footer -->
<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
                <a class="font-weight-bold ml-1">Time Entry and Accounting System</a>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
                <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank"> &copy; TEAS</a></a>.
            </div>
        </div>
    </div>
</footer>